/* css file */
#body
{
	background-color: #D8D8D8;
	font-family: 'avenir', sans-serif;
	color: black;
	font-size: 16px;
}

#container {
	padding: 10px;
	color: black;
	font-size: 16px;
	height: 100%;
	margin-bottom: 50px;
}

#container p{
	text-align: justify;
}


#header { 
	width: 100%;
	height: 50px;
	background-color: #181818; 
	text-align: center;
	color: white;
	font-size: 20px;
	padding: 10px;
}


#footer {
    width: 100%;
    height: 50px;
    color: white;
    background-color: black;
    margin-top: -20px;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
	font-size: 18px;
}


#start{
	text-align: center;
	width: 200px;
	height: 50px;
	font-size: 18px;
	align-content: center;
}



#content{
	width: 100%;
	height: 100%;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#contactTable {
	width: 50%;
}

#contactTable td, th {
	height: 50px;
	width: 500px;

}

#explanation{
	margin: 0;
	padding: 10px;
	color: black;
	font-size: 16px;
	
}

#dbcontent{
	overflow: scroll;
}

#imgdb{
    position: relative;
    top: 120px;
    left: 55px; 
}

#age, #newdate #newdate2{ border: none; }


#communication{
	text-align: center;
	font-size: 14px;
	padding: 20px;
	border-radius: 10px;
	
}

#log_out{
	position: absolute;
	right: 30px;
}


.sidebar{
	width: 180px;
	height: 100%;
	min-height: 100vh;
	float: left;
	background-color: #181818;
	margin-right: 30px;
	overflow: auto;
}

.sidebar img{
	display:block;
	margin: 5px;
}

.sidebar ul li {
	list-style: none;
	padding: 10px;
}

.sidebar ul li:hover {
	background-color: #D8D8D8;
	cursor: pointer;
	
}

.sidebar a:hover {
	font-size: 120%;
}

.sidebar ul li a {
	text-decoration: none;
	color: white;
	font-size: 12px;
}


.side-hide {
	float: right;
	margin: 20px;
	color:white;
	font-size: 24px;
	cursor: pointer;
}


.content img {
	float: left;
	margin: 20px;
	cursor: pointer;
}



.bordered{
	width: 30px;
}


.member{
	background-color: #8E8E8E;
	width: 300px;
	margin: 15px;
	padding: 5px;
	position: relative;
    float: left;
	overflow: scroll;
}

.fee{
	background-color: #8E8E8E;
	width: 300px;
	margin: 15px;
	padding: 5px;
	position: relative; 
	float:left;
	overflow: scroll;

}

h1{
	font-size: 20px;
	margin: 20px;
}

h2{
	font-size: 16px;
	display: inline;
}

h3{
	font-size: 18px;
	display: inline;
	text-align: right;
	color: #2C30EB;
	font-weight: bold;
}

p{
	padding-left: 20px;
	padding-right: 20px;
}
